.reset-password-container {
  min-height: 100vh;
}

.reset-password-content {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.reset-password-message {
  margin-top: 1rem;
  color: #f0bdc0;
}

.reset-password-form {
  margin-top: 2rem;
}

.reset-password-form label {
  text-align: left;
  display: block;
}

.reset-password-form .submit-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.reset-password-form .submit-button:hover:not(:disabled) {
  background-color: #F0BDC0;
  border-color: #F0BDC0;
  color: black;
}
